<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">CAS Acceptable Use Policy View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:href="@{${#themes.code('cas.standard.css.file')}}"/>

</head>

<body id="cas" class="login">
    <div layout:fragment="content">
            <div th:replace="fragments/insecure"/>
            <div th:replace="fragments/defaultauthn"/>
            <div th:replace="fragments/cookies"/>
            <div th:replace="fragments/loginProviders" />
            <div id="testServerMsg" style="display:none;"></div>
            <div id="cookiesDisabled" class="errors" style="display: none;"></div>
            <div id="emailAddressTyped" style="display: none;"></div>
            <div th:replace="fragments/loginform" />
    </div>
</body>
</html>
