<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<body id="cas" class="login">
    <div layout:fragment="content">
            <div th:replace="fragments/insecure :: insecure"/>
            <div th:replace="fragments/defaultauthn :: staticAuthentication"/>
            <div th:replace="fragments/cookies :: cookiesDisabled"/>
            <div id="testServerMsg" style="display:none;"></div>
            <div id="cookiesDisabled" class="errors" style="display: none;"></div>
            <div id="emailAddressTyped" style="display: none;"></div>
            <div th:replace="fragments/loginImpform" />
            <div>
                <a href="https://ucdavisit.service-now.com/ess/knowledge_detail.do?sysparm_article=KB0000527" target="_blank"><span th:text="#{screen.help}"/></a>
            </div>
    </div>
</body>
</html>
