<?xml version="1.0" encoding="UTF-8" ?>
<!-- Specify the refresh internal in seconds. -->
<Configuration monitorInterval="60" packages="org.apereo.cas.logging">
    <Properties>
        <Property name="baseDir">logs</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c] - &lt;%m&gt;%n"/>
        </Console>
        <RollingFile name="file" fileName="${baseDir}/cas.log" append="true"
                     filePattern="${baseDir}/cas-%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="auditlogfile" fileName="${baseDir}/cas_audit.log" append="true"
                     filePattern="${baseDir}/cas_audit-%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="perfFileAppender" fileName="${baseDir}/perfStats.log" append="true"
                     filePattern="${baseDir}/perfStats-%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="trapAppender" fileName="${baseDir}/trap.log" append="true"
                filePattern="${baseDir}/trap-%d{yyyy-MM-dd}-%i.gz">
             <PatternLayout pattern="%d %p [%c] - %m%n"/>
            <Policies>
               <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="hazelcastLogFile" fileName="logs/hazelcast.log" append="true"
                     filePattern="${baseDir}/hazelcast-%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="ldaptiveLogFile" fileName="logs/ldaptive.log" append="true"
                     filePattern="${baseDir}/ldaptive-%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <CasAppender name="casAudit">
            <AppenderRef ref="auditlogfile" />
        </CasAppender>
        <CasAppender name="casFile">
            <AppenderRef ref="file" />
        </CasAppender>
        <CasAppender name="casConsole">
            <AppenderRef ref="console" />
        </CasAppender>
        <CasAppender name="casPerf">
            <AppenderRef ref="perfFileAppender" />
        </CasAppender>
        <CasAppender name="casTrap">
            <AppenderRef ref="trapAppender"/>
        </CasAppender>

    </Appenders>
    <Loggers>
        <Logger name="edu.ucdavis.trap" level="warn" includeLocation="true" additivity="false">
            <AppenderRef ref="casTrap"/>
        </Logger>
        <Logger name="com.couchbase" level="off" additivity="false" includeLocation="true"/>
        <Logger name="org.apereo.cas.web.CasWebApplication" level="warn" additivity="false" includeLocation="true">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework.security" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework.boot.autoconfigure.security" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.jasig.cas.client" level="warn" additivity="false" includeLocation="true">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.apereo" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.apereo.services.persondir" level="warn" additivity="false" includeLocation="true">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.apache" level="error" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework.cloud" level="off" additivity="false"/>
        <Logger name="org.springframework.cloud.context" level="off" additivity="false"/>
        <Logger name="org.springframework.boot" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework.aop" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework.boot.actuate.autoconfigure" level="warn" additivity="false">
           <AppenderRef ref="casConsole"/>
        </Logger>
        <Logger name="org.springframework.webflow" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework.session" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework.integration" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework.messaging" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework.web" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework.orm.jpa" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework.scheduling" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.thymeleaf" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.pac4j" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.opensaml" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="net.sf.ehcache" level="off" additivity="false"/>
        <Logger name="com.ryantenney.metrics" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="net.jradius" level="off" additivity="false"/>
        <Logger name="org.openid4java" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.ldaptive" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.ldaptive.pool" level="debug" additivity="false">
          <AppenderRef ref="ldaptiveLogFile"/>
        </Logger>
        <Logger name="com.hazelcast" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="com.hazelcast" level="debug" additivity="false">
            <AppenderRef ref="hazelcastLogFile"/>
        </Logger>
        <Logger name="org.springframework.context.annotation" level="off" additivity="false" />
        <Logger name="org.springframework.boot.devtools" level="off" additivity="false" />
        <Logger name="org.jasig.spring" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.springframework.web.socket" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.apache.cxf" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.apache.http" level="warn" additivity="false"/>
        <Logger name="org.apache.http" level="warn" additivity="false">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="perfStatsLogger" level="warn" additivity="false" includeLocation="true">
            <AppenderRef ref="casPerf"/>
        </Logger>
        <Logger name="org.apereo.cas.web.flow" level="warn" additivity="true" includeLocation="true">
            <AppenderRef ref="casFile"/>
        </Logger>
        <Logger name="org.apereo.inspektr.audit.support" level="info" includeLocation="true">
            <AppenderRef ref="casAudit"/>
        </Logger>
        <Root level="error">
           <AppenderRef ref="casConsole"/>
        </Root>
    </Loggers>
</Configuration>
